.logo{
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  padding:10px 0;
}
.system{
  color:#fff;
  font-size: 18px;
  margin-right:10px;
  cursor: pointer;
}
.systemIcon{
  font-size: 8px;
  margin-right: 8px;
}