
.textInfo {
  display: inline-block;
  width: 100%;
  min-height: 16px;
  position: relative;
  .editIcon {
    display: none;
    position: absolute;
    top: calc(50% - 10px);
    right: -20px;
  }
  &:hover {
    .editIcon {
      display: inline;
    }
  }
}
.editIcon {
  color: #3080fe;
  margin-right: 5px;
  cursor: pointer;
  &:before {
    font-size: 14px !important;
  }
}

.deleteBtn, .deleteBtnDisabled {
  color: #ff3000;
  cursor: pointer;
  &:before {
    font-size: 14px !important;
  }
}
.deleteBtnDisabled {
  color: #999;
}

.addParamBtn, .addParamBtnDisabled {
  margin-top: 28px;
}