.title {
  height: 30px;
  border-bottom: 1px solid #DCDEE3;
  padding: 0 20px 0;
  position: relative;
}
.tableContent {
  padding: 20px;
}
.tabContent {
  padding: 0 20px;
}
.tabItemCont {
  padding: 30px;
  width: 100%;
  overflow-x: hidden;
  :global {
    .next-form-item {
      width: 100%;
    }
    .next-form-item .next-form-item-label {
      width: 120px;
    }

    .next-form-item .next-input {
      min-width: 350px;
    }
  }
}
.btnCont {
  display: inline-block;
  position: absolute;
  right: 20px;
}
.editBtn, .saveBtn {
  margin-right: 20px;
  color: #0E87F7 !important;
}
.deleBtn {
  margin-right: 20px;
  color: #FF3000 !important;
}
.sendBtn {
  color: #0E87F7 !important;
}
.cancleBtn {
  margin-right: 20px;
}