.wraper{
    :global{
        .next-breadcrumb .next-breadcrumb-text {
            line-height: 48px;
            height:48px;
        }
        .next-breadcrumb .next-breadcrumb-separator {
            line-height: 48px;
            height:48px;
        }
    }
}