.container{
  height:100%;
}

.appName {
  margin-left: 10px;
  color: #fff;
  font-size: 18px;
}

.headNav{
  justify-content: flex-start !important;
}

.avatar {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  border-radius: 50%;
}

.userName {
  margin-left: 10px;
  color: #fff;
}

.appMain {
  height:100%;
}
