.cron {
  // border-radius: 3px;
  // background: #fff;
  // border: 1px solid #ccc;
  // box-shadow: 0 1px 5px #ccc;
  :global {
    .next-tabs.next-medium .next-tabs-tab-inner {
      padding: 12px 32px;
    }
    .next-tabs-content {
      padding: 2px 20px 0;
    }
    .next-btn.next-btn-normal {
      background-color: #f5f7fa;
    }
    .next-tabs-content {
      overflow: inherit;
    }
    .next-col {
      line-height: 1.5;
    }
    .next-number-picker-inline .next-btn.next-medium {
      width: 22px;
    }
    .next-number-picker-inline.next-medium .next-btn {
      height: 22px;
    }
    .next-input.next-medium {
      height: 22px;
    }
    .next-input.next-medium input {
      height: 20px;
    }
  }
}

.cornWarper {
  max-width: 100% !important;
  padding: 0 10px !important;
}
.cornWarper:after {
  width: 0 !important;
  height: 0 !important;
}
